<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">


    <context:component-scan base-package="ua.epam.spring.hometask"/>
    <context:property-placeholder location="classpath:auditoriums.properties"/>
    <aop:aspectj-autoproxy />

    <import resource="strategy.xml"/>

    <bean id="bookingService" class="ua.epam.spring.hometask.service.impl.DefaultBookingService"/>
    <bean id="ticketDao" class="ua.epam.spring.hometask.dao.inMemory.TicketDaoInMemory"/>
    <bean id="userDao" class="ua.epam.spring.hometask.dao.inMemory.UserDaoInMemory"/>
    <bean id="userService" class="ua.epam.spring.hometask.service.impl.DefaultUserService"/>
    <bean id="auditoriumService" class="ua.epam.spring.hometask.service.impl.DefaultAuditoriumService"/>
    <bean id="eventService" class="ua.epam.spring.hometask.service.impl.DefaultEventService"/>
    <bean id="counterAspectDao" class="ua.epam.spring.hometask.dao.inMemory.CounterAspectDaoImpl"/>
    <bean id="discountAspectDao" class="ua.epam.spring.hometask.dao.inMemory.DiscountAspectDaoImpl"/>

    <bean id="discountService" class="ua.epam.spring.hometask.service.impl.DefaultDiscountService">
        <property name="strategies">
            <list>
                <ref bean="birthdayStrategy"/>
                <ref bean="ticketNumberStrategy"/>
            </list>
        </property>
    </bean>

    <util:set id="first.vipSeats">
        <value>${first.vipSeat1}</value>
        <value>${first.vipSeat2}</value>
        <value>${first.vipSeat3}</value>
    </util:set>

    <util:set id="second.vipSeats">
        <value>${second.vipSeat1}</value>
        <value>${second.vipSeat2}</value>
        <value>${second.vipSeat3}</value>
    </util:set>

    <bean id="auditorium1" class="ua.epam.spring.hometask.domain.Auditorium">
        <constructor-arg index="0" value="${first.name}" type="java.lang.String"/>
        <constructor-arg index="1" value="${first.numberOfSeats}" type="long"/>
        <constructor-arg index="2" ref="first.vipSeats" type="java.util.Set"/>
    </bean>

    <bean id="auditorium2" class="ua.epam.spring.hometask.domain.Auditorium">
        <constructor-arg index="0" value="${second.name}" type="java.lang.String"/>
        <constructor-arg index="1" value="${second.numberOfSeats}" type="long"/>
        <constructor-arg index="2" ref="second.vipSeats" type="java.util.Set"/>
    </bean>

    <util:set id="auditoriumSet">
        <ref bean="auditorium1"/>
        <ref bean="auditorium2"/>
    </util:set>

    <bean id="auditoriumDao" class="ua.epam.spring.hometask.dao.inMemory.AuditoriumDaoInMemory">
        <property name="auditoriumSet" ref="auditoriumSet"/>
    </bean>

    <bean id="localDateTime" class="java.time.LocalDateTime" factory-method="now"/>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" destroy-method="close">
        <constructor-arg ref="dataSource"/>

        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

    </bean>


    <util:set id="airDates" set-class="java.util.TreeSet">
        <ref bean="localDateTime"/>
    </util:set>

    <util:map id="navigableMap" map-class="java.util.TreeMap">
        <entry key-ref="localDateTime" value-ref="auditorium1"/>

    </util:map>

    <bean id="event1" class="ua.epam.spring.hometask.domain.Event">
        <constructor-arg index="0" value="New_Year_Party" type="java.lang.String"/>
        <constructor-arg index="1" ref="airDates"/>
        <constructor-arg value="99.9" type="double"/>
        <constructor-arg value="HIGH" type="ua.epam.spring.hometask.domain.EventRating"/>
        <constructor-arg ref="navigableMap"/>
    </bean>

    <util:list id="eventList">
        <ref bean="event1"/>
    </util:list>

    <bean id="eventDao" class="ua.epam.spring.hometask.dao.inMemory.EventDaoInMemory">
        <property name="eventList" ref="eventList"/>
    </bean>

</beans>